.introduction-container {
  text-align: justify;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
      height: 16vmin;
      pointer-events: none;
      margin-left: -40px;

      @media (prefers-reduced-motion: no-preference) {
        animation: logo-spin infinite 20s linear;
      }

      @keyframes logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  p {
    margin: 40px 0;
  }
}
